@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@100&display=swap');

html {
	scroll-padding-top: 40px;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: 'Manrope', sans-serif;
}

.cursor-pointer {
		cursor: pointer;
}

/*topbar*/

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	background-color: white;
	list-style: none;
}

.nav-links {
	display: flex;
	margin-left: 10px;
	flex-direction: row;
	justify-content: space-around;
	font-size: 14px;
}

.nav-links > ul {
	padding: 5px;
}

.icon-apps {
	font-size: 21px !important;

}

#login-btn {
	background-color: rgb(6, 95, 212);
	color:  white;
	width: 80px;
	height: 28px;
	border: 1px solid rgb(6, 95, 212);
	border-radius: 3px;
	font-size: 12px;
	margin-right: 14px;
}

#login-btn:hover {
	background-color: rgb(6, 95, 300);
	border: 1px solid rgb(6, 95, 212);
}


/* Main */

main {
	margin: 17% auto;
	max-width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
}


img {
	max-width: 100%;
	height: auto;
	margin: auto;
	margin-bottom: 0.6rem;
}

#search-area {
	max-width: 90%;
	margin: auto;
	height: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid #ddd 1px;
	border-radius: 20px;
	margin-bottom: 14px;
}

#search-area:hover {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.material-icons-outlined {
	padding-right: 7px;
	padding-left: 7px;
	color: gray;
	background-color: none;
}

#searchbar_input_area {
	width: 100%;
	border: none;
	outline: none;
	font-size: 16px;
}

.search-button-div {
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}


.search-button {
	display:inline-block;
	background-color: #f0f0f0;
	border: solid #ddd 1px;
	border-radius: 3px;
	font-size: 0.8rem;
	padding: 6px;
	margin: 4px;
}

.search-button:hover {
	background-color: #ddd;
}


/* Footer */

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #e0e0e0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer-div {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	margin: 2px;
}



.footer-div > span {
	margin: 7px;
	color: #3d3d3d;
	cursor: pointer;
}


@media(max-width: 661px) {

	main {
		margin-top: 150px;
	}	

	footer {
		flex-direction: column;
	}
}